<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pavlo Sharapata Thesis</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/menu.css" />
    <link rel="stylesheet" href="styles/images.css" />
    <link rel="stylesheet" href="styles/content.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/mobile.css" />
    <link rel="stylesheet" href="styles/footnotes.css" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/markdown-it/dist/markdown-it.js"></script>
    <script src="https://unpkg.com/markdown-it-footnote@3.0.3/dist/markdown-it-footnote.js"></script>
    <script type="module" src="scripts/index.js"></script>
</head>

<body>
    <div id="app">
        <!-- navigation menu -->
        <nav class="menu">
            <span class="menu-item" v-for="chapter in Content.menuChapters"
                :class="{ active: Navigator.isChapterActive(chapter) }">
                {{ chapter.title }}
                <br v-if="chapter.linebreak">
            </span>
            <span>

            </span>
        </nav>

        <!-- page content -->
        <main>
            <div class="credits">
                <h3> Pavlo Sharapata</h3><br>
                <h3> Royal Academy of Art</h3><br>
                <h3> Graphic Design, 2022</h3><br>
            </div>

            <article v-for="(chapter, index) in Content.chapters" :index="index" class="chapter" :class="Content.getCustomClass(chapter)">
              <span v-html="Content.getChapterContent(chapter)">
              </span>
            </article>
            <div class="credits">
                <h3> Thesis guidance: Füsun Türetken</h3><br>
                <h3> Coding guidance: François Girard-Meunier, Julia Waraksa</h3><br>
                <h3> Typefaces: Lausanne 700, Lausanne 700 Italic (WELTKERN®)   </h3><br>
            </div>
        </main>

        <!-- image popup -->
        <section class="image-popup-overlay" v-if="Images.isVisible" @click="Images.hide()">
            <ul class="image-data">
                <li class="title">
                    {{ Images.image.name }}
                </li>
                <li class="details" v-for="line in Images.image.text">
                    {{ line }}
                </li>
            </ul>
        </section>
        <section class="image-popup" v-if="Images.isVisible" @click="Images.hide()">
            <img :src="Images.imageUrl">
        </section>

        <!-- footnote popup -->
        <section class="footnote-popup-overlay" v-if="Footnotes.isVisible" @click="Footnotes.hide()">
        </section>
        <section class="footnote-popup" v-if="Footnotes.isVisible" @click="Footnotes.hide()">
          <div class="details">
            <div v-html="Footnotes.footnote.id" class="id">
            </div>
            <div v-for="detail in Footnotes.footnote.details" v-html="detail" class="detail">
            </div>
          </div>
          <div class="footnote" v-html="Footnotes.footnote.text">
          </div>
        </section>
    </div>
</body>

</html>