#app > main > article {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#app > main > article span {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app > main > article span > p {
  flex: 1;
  padding: 0% 16% 0% 16%;
}

/* Special styling for some chapters */
.chapter {
}

.chapter.bibliography {
}

.chapter.bibliography ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Styling for elements within chapters */
.full-height {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quarter-height {
  flex: 1;
  flex-basis: 25vh;
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}
