/* #app > main > article {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#app > main > article span {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app > main > article span > p {
  flex: 1;
  padding: 0% 16% 0% 16%;
} */


.credits {
  flex: 0;
  padding-top: 8px;
  line-height: 15.7px;

}


/* Special styling for some chapters */
.chapter {
  display: flex;
  flex-direction: column;
  padding:2% 16.66% 7.5% 16.66%;
  font-size: 20px;
  line-height: 21.5px;
  color:rgb(0, 0, 0);
}

.chapter.full-height {
  min-height: 85vh;
  margin-bottom: 170px;
}

.chapter.half-height {
  min-height: 50vh;
}

.chapter.quarter-height {
  min-height: 25vh;
}

.chapter.no-padding {
  padding:0;
}


.chapter.figures {
}

.chapter.all-footnotes {
  padding: 0;
  margin: 0;
  padding-bottom: 8%;
}

.chapter.all-footnotes ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.chapter.all-footnotes li {
  margin: 0;
  padding: 15px 0 25px 0;
  display: flex;
  flex-direction: row;
}

.chapter.all-footnotes p {
  margin: 0;
}

.chapter.all-footnotes .number {
  flex-basis: 16.66%;
  font-size: 13px;
  color: black;
  text-align: left;
  text-transform: capitalize;
  line-height: 13.4px;
  padding-left: 6px;
  /* distance between footnote title and footnote */
}

.chapter.all-footnotes .footnote {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 16.66%;
  margin-top: 38px;
}

.chapter.all-footnotes .text {
  font-weight: normal;
  font-size: 16px;
  font-size: 20px;
  line-height: 21.5px;
}

.chapter.all-footnotes .detail {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: none;
  color: black;
}

.chapter.bibliography {

}

.chapter.bibliography ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chapter.bibliography a {
  text-decoration: none;
  color: rgb(178, 182, 184);
}

.chapter.bibliography a:hover {
  color: rgb(137, 139, 142);
}

.subchapter {
  flex: 1;
  margin-left: -25%;
  padding-top: 2.96px;
  padding-bottom: 2.96px;
}

.chapter .quote {
 padding: 0 25% 0 25%;
}

/* Styling for elements within chapters */

.chapter.center {
  flex-direction: column;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* -------------------------------------------- Styling for Mobile elements ------------------------------------------------ */


@media (max-width: 600px) {

  .chapter {
    /* Adjust margins for main text (B L T R) */
    padding:2% 8% 7.5% 8%;
  }

  .chapter .quote {
    /* Adjust margins for quotes (B L T R) */
    padding: 0 10% 0 10%;
   }


  .subchapter {
    margin-left: -9.5%;
    padding-top: 2.96px;
    padding-bottom: 2.96px;
  }

}
