/* #app > main > article {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#app > main > article span {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app > main > article span > p {
  flex: 1;
  padding: 0% 16% 0% 16%;
} */


.credits {
  flex: 0;
  padding-top: 8px;
  line-height: 15.7px;

} 


/* Special styling for some chapters */
.chapter {
  display: flex;
  flex-direction: column;
  padding:2% 16.66% 7.5% 16.66%;
  font-size: 20px;
  line-height: 21.5px;
  color:rgb(0, 0, 0);
}

.chapter.full-height {
  min-height: 85vh;
  margin-bottom: 170px;
}

.chapter.half-height {
  min-height: 50vh;
}

.chapter.quarter-height {
  min-height: 25vh;
}

.chapter.no-padding {
  padding:0;
}


.chapter.bibliography {
  
}

.chapter.bibliography a {
  text-decoration: none;
  color: rgb(193, 193, 193);
}

.chapter.bibliography a:hover {
  color: rgb(142, 141, 141);
}


.subchapter {
  flex: 1;
  margin-left: -25%;
  padding-top: 2.96px;
  padding-bottom: 2.96px;
} 

.chapter .quote {
 padding: 0 25% 0 25%;
}

.chapter.bibliography ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chapter.figures {
}

.chapter.footnotes {
  background-color: blue;
} 

/* Styling for elements within chapters */

.chapter.center {
  flex-direction: column;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
