@font-face {
    font-family: 'TWK Lausanne 700';
    src: url('../fonts/TWKLausannePan-700.woff2') format('woff2'),
        url('../fonts/TWKLausannePan-700.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



h1 {
  color: rgb(0, 0, 0);  
  font-size: 20px;
  font-weight: normal;
}


h2 {
  color: rgb(0, 0, 0);  
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 190px;
  text-align: center;
}

h3 {
  padding-left: 6px;
  color: #0a0a0a;
  font-size: 13px;
  line-height: 0px;
  margin: 0px;
  margin-top: -2px;
}

@media (max-width: 600px) {

  h2 {
    margin-bottom: 100px;
  }
  
}
