@font-face {
    font-family: 'TWK Lausanne 800';
    src: url('../fonts/TWKLausannePan-800.woff2') format('woff2'),
        url('../fonts/TWKLausannePan-800.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



h1 {
  color: orange;  
  font-weight: normal;
}


h2 {
  color: blue;  
  font-weight: normal;
  margin-bottom: 100px;
  text-align: center;
}

h3 {
  color:blueviolet;
  font-weight: normal;
  font-size: 15px;
  line-height: 0px;
  margin: 0;
  padding-left: 8px;
}