.footnote-ref {
  line-height: 0.5;
}

/* Hide standard rendering of footnote links and texts */
.footnotes,
.footnotes-sep,
.footnote-backref {
  display: none;
}

/* Footnote link */
.footnote-link {
  text-decoration: none;
  color: rgb(178, 182, 184);
  cursor: pointer;
}

/* Footnote popup */
.footnote-popup-overlay {
    position: absolute;
    z-index: 10000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footnote-popup {
    position: absolute;
    z-index: 10000001;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.footnote-popup .details {
  position: absolute;
  left: 6px;
  top: 4px;
}

.footnote-popup .details .id {
  color: rgb(178, 182, 184);
  font-size: 13px;
  line-height: 13.4px;
  text-transform: capitalize;
}

.footnote-popup .details .detail {
  font-size: 13px;
  line-height: 13.4px;
}

.footnote-popup .footnote {
  width: 100vw;
  padding:0 16.66% 0 16.66%;
  background-color: white;
  font-size: 20px;
  text-align: center;
}
