.footnote-ref {
  line-height: 0.5;
}

/* Hide standard rendering of footnote links and texts */
.footnotes,
.footnotes-sep,
.footnote-backref {
  display: none;
}

/* Footnote link */
.footnote-link {
  text-decoration: none;
  color: orangered;
  cursor: pointer;
}

/* Special chapter displaying all footnotes */
.all-footnotes-content {
  display: none;
}

.all-footnotes {
}

.footnotes .footnote {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.footnotes .footnote .number {
  font-weight: bold;
  margin-right: 12px;
}

.footnotes .footnote .text {
  font-style: italic;
}

.footnotes .footnote .text p {
  margin: 0;
}

/* Footnote popup */
.footnote-popup-overlay {
    position: absolute;
    z-index: 10000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}

.footnote-popup {
    position: absolute;
    z-index: 10000001;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footnote-popup .id {
  position: absolute;
  left: 16px;
  top: 16px;
  color: orangered;
}

.footnote-popup .footnote {
  width: 50vw;
  height: 50vh;
  background-color: white;
  padding: 32px;
  font-size: 20px;
  text-align: center
}
