/* Figure link */
a[href="#figure"] {
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: rgb(178, 182, 184);
    text-decoration: none;
}

/* Figure popup */
.image-popup-overlay {
    position: absolute;
    z-index: 10000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 1;
}

.image-popup {
    position: absolute;
    z-index: 10000001;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-popup img {
    max-width: 82vw;
    max-height: 75vh;
}

.image-data {
    margin: 0;
    padding: 8px;
    list-style: none;
    padding-top: 4px;
    padding-bottom: 50px;
    padding-left: 6px;
    color: #0a0a0a;
    font-size: 13px;
    line-height: 13.4px;
}

.image-data .title {
    color: rgb(178, 182, 184);
}

.image-data .details {
    color: rgb(0, 0, 0);
}

/* Figures list at the bottom of the text*/
.figures {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 21.5px;
    color: rgb(0, 0, 0);
}


.figures ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.figures li {
    
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.figures li img {
    max-width: 75vw;
    max-height: 75vh;
    align-self: center;
/* values below image*/
    margin-bottom: 25px;
}

.figures li footer {
    margin-left: -25%;
    font-size: 13px;
    line-height: 13.4px;
    color: black;
    text-align: left;
    padding-left: 6px;
    /* values below text*/
    margin-bottom: 25px;

}


@media (max-width: 600px) {

    .figures li img {
        min-width: 82vw;
    }


.figures li footer {
    font-size: 13px;
    color: black;
    text-align: left;
    padding-left: 30px;
    margin-left: -14.5%;
    margin-bottom: 25px;
}

  }

